
section{
    display: grid;
    place-items: center;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 8px;
    color: rgba(19, 17, 17, 0.712);
}
h3{
    text-transform: capitalize;
    letter-spacing: 3px;
}
p{
    text-transform: capitalize;

}