<h1 class="header" appCustomStyleDirective>test webside</h1>
<mat-slider color="primary" min="1" max="100" step="1" value="50"></mat-slider>
<hr>

<app-materialex></app-materialex>
<button mat-raised-button color="warn" routerLink="login">GO TO LOGIN PAGE</button>
<button mat-raised-button color="warn" routerLink="register">GO TO REGISTER PAGE</button>
<button mat-raised-button color="primary" routerLink="card">basic cards</button>
<button mat-raised-button color="primary" routerLink="/countries">countries</button>
<button mat-raised-button color="primary" routerLink="/form">Test form</button>

<button mat-raised-button color="primary" routerLink="/mytest">My Test</button>
<router-outlet></router-outlet>
<hr>
<hr>


  
  



