<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
   
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
        dataSource = ELEMENT_DATA;
         dataSource = ELEMENT_DATA;
      <td mat-cell *matCellDef="let element of dataSource "> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element of dataSource"> {{element.id}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="min_size">
      <th mat-header-cell *matHeaderCellDef> min_size </th>
      <td mat-cell *matCellDef="let element of dataSource"> {{element.min_size}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  